.root {
  text-align: center;

  .dvdImg {
    opacity: 0.5;
    position: absolute;
    animation: moveX 10s linear 0s infinite alternate, moveY 3.4s linear 0s infinite alternate, spin 120s linear infinite;
    -webkit-animation: moveX 10s linear 0s infinite alternate, moveY 3.4s linear 0s infinite alternate, spin 120s linear infinite;
    -moz-animation: moveX 10s linear 0s infinite alternate, moveY 3.4s linear 0s infinite alternate, spin 120s linear infinite;
    -o-animation: moveX 10s linear 0s infinite alternate, moveY 3.4s linear 0s infinite alternate, spin 120s linear infinite;
  }
}

@keyframes spin {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}

@-webkit-keyframes moveX {
  from { left: 0; } to { left: 83%; }
}
@-moz-keyframes moveX {
  from { left: 0; } to { left: 83%; }
}
@-o-keyframes moveX {
  from { left: 0; } to { left: 83%; }
}
@keyframes moveX {
  from { left: 0; } to { left: 83%; }
}

@-webkit-keyframes moveY {
  from { top: 0; } to { top: 75%; }
}
@-moz-keyframes moveY {
  from { top: 0; } to { top: 75%; }
}
@-o-keyframes moveY {
  from { top: 0; } to { top: 75%; }
}
@keyframes moveY {
  from { top: 0; } to { top: 75%; }
}